<html>
  <head>
    <title>Sample HTML app</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body> 
    <h1>This is Greg.</h1>
    <h2>His favorite color is red.</h2>
    <p>He likes hanging posters on walls and solving rubiks cubes.</p>
    <p>Greg likes to travel to gas stations in the winter.</p>
    <h3>He can also play the cello.</h3>
    <para1>Greg likes to wear grass skirts.</para1>
    <a href="https://www.cspdailynews.com/company-news/10-best-us-gas-station-brands#page=0"> 10 best gas stations! </a>
  </body>

</head>
<body> 
  <h1>This is Sam.</h1>
  <h2>His favorite color is orange.</h2>
  <p>He likes looking at maps and fidling with the thermos stat.</p>
  <p>Sam likes to travel to space in the fall.</p>
  <h3>He can also play the french horn.</h3>
  <para1>Sam likes to wear oxford shoes.</para1>
  <a href="https://www.musiciansfriend.com/french-horns">Buy a french horn here!</a>
</body>

</head>
<body> 
  <h1>This is Megan.</h1>
  <h2>Her favorite color is soft yellow.</h2>
  <p>She likes erasing whiteboards and destroying brick walls.</p>
  <p>Megan likes to travel to Atlantis in the summer.</p>
  <h3>She can also play the tuba.</h3>
  <para1>Megan likes to wear funky hats.</para1>
  <a href="https://www.radicoolbeachwear.com/blogs/news/4-reasons-why-uv-protective-sun-hats-are-important-for-your-health">Why sunhats are important for your health!</a>
</body>

</head>
<body> 
  <h1>This is Alex.</h1>
  <h2>Her favorite color is rough pink.</h2>
  <p>She likes slamming doors in people's faces and spoiling mystery novel's for her freinds before they finish.</p>
  <p>Alex likes to travel to off-limit secret goverment labs in the spring.</p>
  <h3>She can also play the digereedoo.</h3>
  <para1>Alex likes to wear long flowing robes.</para1>
  <a href="https://www.quora.com/What-is-the-quickest-easiest-and-most-diabolical-wayt-to-ruin-someones-life-without-killing-them-or-anyone-else">Alex comes to this website whenever she makes a new "freind". Check it out!</a>
</body>

</head>
<body> 
  <h1>This is Lani.</h1>
  <h2>Her favorite color is clear.</h2>
  <p>She likes oiling squeaky door hinges and hiding in air vents.</p>
  <p>Lani likes to travel to Alexes house once a day to try to turn her furniture into animals.</p>
  <h3>She can also play the fidle.</h3>
  <para1>Lani likes to wear collinders on her head.</para1>
  <a href="https:www.merriam-webster.com/words-at-play/8-words-of-necromancy/necromancy">Words for black magic!</a>
</body>
</html>
